In [85]:
import pandas as pd
import numpy as np
import risk_kit as rk
%load_ext autoreload
%autoreload 2
df = pd.read_csv('~/Documents/Portfolio Construction Python/Week1/data/Portfolios_Formed_on_ME_monthly_EW.csv', 
                     header=0, index_col=0, parse_dates=True, na_values=-99.99)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [86]:
df.index = pd.to_datetime(df.index, format='%Y%m').to_period('M')
df.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
1926-07,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
1926-08,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
1926-09,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
1926-10,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
1926-11,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70

In [94]:
returns = df[['Lo 20', 'Hi 20']]/100

In [95]:
annualized_return = rk.annualized_rets(returns, 12)
annualized_volatility = rk.annualized_vol(returns, 12)
print(annualized_return)
print(annualized_volatility)

Lo 20    0.151977
Hi 20    0.098490
dtype: float64
Lo 20    0.336701
Hi 20    0.195116
dtype: float64

In [96]:
print(rk.annualized_rets(returns['1999':'2015'], 12))
print(rk.annualized_vol(returns['1999':'2015'], 12))

Lo 20    0.114426
Hi 20    0.062865
dtype: float64
Lo 20    0.228894
Hi 20    0.172713
dtype: float64

In [102]:
print(rk.drawdown(returns['1999':'2015']['Hi 20'])['Drawdown'].min())

-0.5527349978713653

In [109]:
hfi = rk.get_hfi_returns()
print(rk.semideviation(hfi['2009':]).idxmax())

Short Selling

In [113]:
print(rk.kurtosis(hfi['2009':]).idxmax())

Convertible Arbitrage